<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <title>관리자페이지</title>
</head>
<body>
<div class="menu">
    <form th:action="@{/}" method="get"><button type="submit">글목록</button></form>
    <form th:action="@{/clearPost}" method="post"><button type="submit">Post&Comment Reset</button></form>
    <form th:action="@{/clearAll}" method="post"><button type="submit">All Reset</button></form>
</div>

<form action="/admin/members" method="get">
    <input type="text" name="keyword" placeholder="아이디 또는 닉네임">

    <button type="submit" name="mode" value="loginId">아이디로 조회</button>
    <button type="submit" name="mode" value="nickname">닉네임으로 조회</button>
</form>

    <table>
        <tr>
            <td>이름</td>
            <td>관리자권한생성</td>
            <td>관리자권한제거</td>
        </tr>
        <tr th:if="${member != null}">
            <td th:text="${member.nickname}"></td>
            <td><form th:action="@{/admin/members/{id}/grant-admin(id=${member.id})}" method="post">
                <button type="submit">관리자 권한 지급</button>
            </form></td>
            <td><form th:action="@{/admin/members/{id}/remove-admin(id=${member.id})}" method="post">
                <button type="submit">관리자 권한 제거</button>
            </form></td>
        </tr>
        <tr th:if="${member == null}">
            <td colspan="3">회원이 존재하지 않습니다.</td>
        </tr>
    </table>

</body>
</html>